node_modules
build
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*~.nib
.gitattributes
.vs
.DS_Store
log/
_RUNTIME_/log/
_RUNTIME_/Documents/deploy/
DEADJOE
UserInterfaceState.xcuserstate
*.so
*.a
*.ncb
platform/MacOS/c64d.xcodeproj/project.xcworkspace/xcuserdata/mars.xcuserdatad/xcdebugger/
platform/MacOS/c64d.xcodeproj/project.xcworkspace/xcshareddata/
platform/MacOS/c64d.xcodeproj/project.xcworkspace/xcshareddata/MTEngineSDL.xccheckout
platform/MacOS/c64d.xcodeproj/.idea/
platform/MacOS/DerivedData/
platform/Windows/.vs/
platform/Windows/bin/
platform/Windows/c64d/x64/
platform/Windows/c64d/Win32/
tools/DeployMaker_v1.0/Debug/
bmfont2slrfont/Debug/
Debug/
core.*
core
*~
!src/Emulators/vice/core/
!src/Emulators/vice/core/*
!src/Emulators/vice/core/**/*
!src/Emulators/nestopiaue/core/
!src/Emulators/nestopiaue/core/*
!src/Emulators/nestopiaue/core/**/*
