[Desktop Entry]
Type=Application
Name=VICE (xcbm2)
Comment=Commodore CBM-II (600/700/B) emulator
Exec=xcbm2
Terminal=false
Icon=vice-xcbm2
Categories=Game;Emulator;
